input[type="file"]::file-selector-button{
    padding: 12px 23px;
    font-size: 15px;
    border: none;
    background: #e4e4e4;
}
input[type="file"]::file-selector-button:hover{
    background: #d4d4d4;
    transition: 0.3s;
    cursor: pointer;
}
.product-form .form-design{
    display: flex;
    flex-direction: column;

}
.product-form label{
    font-size: 16px;
    font-weight: 600;
}
.product-form div input, select{
    padding: 10px 0;
    margin: 10px 0;
}

.product-form div :not(:first-child){
    margin-top: 10px;
    
}

select{
    -webkit-appearance: none;
}

.form-design input::placeholder{
    padding-left: 10px;
}