@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
    cursor: url(cursor1.png), auto !important;
    
}
body{
    cursor: url(cursor1.png), auto !important;
    --webkit-cursor: url(cursor1.png), auto !important;
    background-color: white !important;
}
input not:input[type=submit]{
    background-color: white !important;
}

.heading-font{
    font-family: "Dancing Script", cursive;
}
/* sweetalert2  */
.swal2-warning{
    color: #506b3d !important;
}

.swiper-button-prev::after{
    color: #506b3d;
}
.swiper-button-next::after{
    color: #506b3d;
}
.swiper-pagination-bullet-active{
    background: #506b3d !important;
}
.active{
    text-decoration: underline;
    color: #506b3d;
}
.no-active{
    text-decoration: none;
    color: black;
}

/* our shop tab color  */
.tab:is(input:checked){
    border-color: #506b3d;
    color: #506b3d
}
.swal2-confirm{
    background-color: #506b3d !important;
}
.swal2-cancel{
    background-color: black !important;
}
.drawer-side .active{
    color: white !important;
    text-decoration: none !important;
}

#ratingGet div:first-child {
  margin-top: 10px;
}

.left-aos{
    animation: leftAosAnimation;
    animation-timeline: view(70% auto);
}

@keyframes leftAosAnimation {
    0%{
        transform: translateY(200px) scale(0.3) translateX(200px);
        opacity: 0;
    }
    66%, 100%{
        transform: translateY(0) scale(1) translateX(0);
        opacity: 1;
    }
}

.right-aos{
    animation: rightAosAnimation;
    animation-timeline: view(70% auto);
}

@keyframes rightAosAnimation {
    0%{
        transform: translateY(200px) scale(0.3) translateX(-200px);
        opacity: 0;
    }
    66%, 100%{
        transform: translateY(0) scale(1) translateX(0);
        opacity: 1;
    }
}